<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<hr>
	<p>-是直接插入数据，=是将HTML相关标签进行转译后插入数据</p>
	<h1>-的插入方式</h1>
	<div><%- articleTitle %></div>
	<hr>
	<h1>=的插入方式</h1>
	<div><%= articleTitle %></div>
  </body>
</html>
